// =========================
// Global Styles
// =========================
body {
  min-height: 100vh;
  margin: 0;
  font-family: "Roboto Condensed", "Segoe UI", Tahoma, Verdana, sans-serif;
}

#wrapper {
  max-width: 900px;
}