// =========================
// Variablen & Themes
// =========================
$grayblue: #585666;
$lightgray: #c0c7c7;
$offwhite: #f5f3f4;
$yellowish: #c8984c;

$logo-responsive-size: calc(3rem + 1.5vw);